.quizz-frame {
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 10px;

}

body {
    background: whitesmoke;
}

.question {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid lightblue;
}

.all-answers{
    display: inline-block
}

.answer-option {
    border: 1px solid lightgray;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; 
}

.answer-option:not(.selected-answer):hover{
    border: 1px solid lightblue;
    background: whitesmoke;
}
.navigation {
    text-align: right;
    border:1px dashed lightgray;
    padding: 20px 10px;
}

button {
    padding: 10px;
    cursor:pointer;
}

.selected-answer {
    background: darkslategray;
    border: 1px solid turquoise;
    color: turquoise;
}



#scores {
    display:none;
    text-align: center;
    margin-top: 30px;
}


#scores-message{
  margin-top: 50px;
  font-size:24px ;
  padding: 20px;
  background: rgb(29, 178, 29);
  color:white;
  border-radius: 10px;
} 

